table, th, td
    {
        border: 1px solid black;
        border-collapse: collapse;
    }

p 
{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 140%;
    font-size: 14px;
    color: darkblue;
}

ul
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 140%;    
    font-size: 14px;
    color: darkblue;
}

blockquote
{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 140%;
    font-size: 14px;
    color: darkblue;
}
