body { 
	max-width: 90%; 
	margin: 0 auto !important; 
	float: none !important;    
    background-image: url("logo-becode.png"); /* fallback */
    background-image: url("logo-becode.png"), radial-gradient(rgb(241, 141, 82), rgb(174, 113, 113)); /* W3C */
    background-repeat: no-repeat;
    background-position: right bottom;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}

p 
{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 140%;
    font-size: 14px;
    color: darkblue;
    max-width: 100%;
}

ul
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 140%;    
    font-size: 14px;
    color: darkblue;
}

blockquote
{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 140%;
    font-size: 14px;
    color: darkblue;
    width: 50%;
    margin: 0 auto;
    font-size: 160%;
    background: rgb(187, 187, 187);
    border-left: 3px solid firebrick;
    border-collapse: collapse;
    padding: 80px 30px 80px 30px;
}

q
{
    font-style: italic;
}

/* sauvegarde du style pour q au cas où
{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 140%;
    font-size: 14px;
    color: darkblue;
    width: 50%;
    margin: 0 auto;
    font-size: 160%;
    background: rgb(187, 187, 187);
    border-left: 3px solid firebrick;
    border-collapse: collapse;
    padding: 80px 30px 80px 30px;
} */

a
{
    font-weight: bold;
    color: rgb(82, 18, 18);
    text-decoration: none;
}

a:visited
{
    color: rgb(82, 18, 18);
}

a:hover 
{
    color: brown;
}

a:active 
{
    text-decoration: line-through;
}

img
{
    max-width: 90%;
}