table, th, td
    {
        border: 1px solid black;
        border-collapse: collapse;
    }

p 
{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 140%;
    font-size: 14px;
    color: darkblue;
}

ul
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 140%;    
    font-size: 14px;
    color: darkblue;
}

blockquote
{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 140%;
    font-size: 14px;
    color: darkblue;
}

a
{
    font-weight: bold;
    color: rgb(82, 18, 18);
    text-decoration: none;
}

a:visited
{
    color: rgb(82, 18, 18);
}

a:hover 
{
    color: brown;
}

a:active 
{
    text-decoration: line-through;
}